{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this is my personal machine */}}
{{- $work := false -}}{{/* true if this is my work machine */}}

{{- $email := promptString "" -}}
