[color]
	ui = auto
	diff = auto
[user]
	name = Daniel Nitsikopoulos
	email = daniel@dnitza.com
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDiDvbM+dln9lR0H7vuXJpg54pg0IbhtF+RejbrQq1GEiuyNJc7I0Vc7XGl/r6vHWgGELrj/tlGHdv289sQX50MUup6pb+o1QamORwQpJ7afZFpsWZ51waRwDK9xaRcC4UbACDmCHiSO8DxKdLpodTTcd1SikYHWJWnb8SaTqFh/qo8/ULmrUB9tMFDa2hQepmNUEWYYSi696bgq6qBYSvOD6tGisJmb9VIpgta9vvAejPdsfKPBoPQOjGDSMtc94I3GkNmZkJ1hhMq58djQCGWr3bYDK+UZPCn6JP5IjACHJLzNrhgyRA5MNbTzBj5+CETlK370geLm6VMQM5a9vr8MmIgkRIoks8TOMmKkc83zwydwLSA3RtQ//AAvgDE/P09ot+XQ3h/2GmbRGXjPxFHLk4swMi+brPz5ucd36xYOeetPTb1MiGgLQM4bm0IdAN+zjwp4I8xIEm3RlKzBqNTz6b+QrwGauB5XY3okJSVHiyBX8sXcc0IspVwYxAmq1spTNZOZ7R3AzL3ePkYq7ZzHKMUMJRmVg68p+kwAWfL7Bldj5Fxi4QqFpVWSSlX5/GwkcaC/KvGUe12aS9O3hyE2JUwdTC0LTrLjSLkfBC3WXOq4BL6ghY7Qnvto8OFV2GQL5aku5MKlfLfmb7vou7jBAf+h7A/VBYI+nRx3XkKQw==
[core]
    pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'

[interactive]
    diffFilter = delta --color-only
[difftool]
	prompt = false
[mergetool]
	prompt = false
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[credential]
  helper = osxkeychain
